src/main/mule/platform_listeners/contact-event.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:dynamics="http://www.mulesoft.org/schema/mule/dynamics"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/dynamics http://www.mulesoft.org/schema/mule/dynamics/current/mule-dynamics.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="contact-post-flow" doc:id="435ddab6-6d67-4770-96b8-cc2338ded5f3" >
		<dynamics:on-modified-object doc:name="On modified object" doc:id="b09edbe9-72c7-4396-a119-d09a4ed62d55" config-ref="Dynamics_365_Dynamics_365" entityType="contact">
			<scheduling-strategy >
				<fixed-frequency frequency="30" startDelay="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</dynamics:on-modified-object>
		<logger level="INFO" doc:name="Log Contact on modified object started" doc:id="58365894-58ba-404b-b86e-3f11a7ab3b23" message='#["Log Contact on modified object started"]' />
		<set-variable value='#[payload."_parentcustomerid_value"]' doc:name="Set vars.dynId" doc:id="6ca0979c-ca07-4ef1-853b-ae220e29d7d7" variableName="dynId" />
		<flow-ref doc:name="get-account-by-id-flow" doc:id="874f857f-dc36-4fe5-991f-1916cd16e870" name="get-account-by-id-flow" target="account" />
		<ee:transform doc:name="Map to CDM" doc:id="3bca4ad7-7c0c-4e87-9b28-83c40af53ecf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"contactDynId": payload.contactid,
	"contactSfId": payload.callback,
	"firstName": payload.firstname,
	"lastName": payload.lastname,
	"accountName": vars.account.accountName,
	"email": vars.account.email,
	"phone": vars.account.phone,
	"sfId": vars.account.sfId,
	"dynId": payload."_parentcustomerid_value"
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Send to MD API" doc:id="0fdd6cfb-64ff-4b84-987a-cd40f528e486" config-ref="HTTP_Request_configuration" path="/dyncontact" target="dynAccount" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : p('secure::clientIdenforcement.clientSecret'),
	"client_id" : p('secure::clientIdenforcement.clientId')
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Log Contact on modified object ended" doc:id="d64e920e-3516-476e-bc52-a2bb6a808db5" message='#["Log Contact on modified object ended"]' />
	</flow>
	<flow name="contact-delete-flow" doc:id="7aed9bdf-3644-45dd-928d-671ec08a7157" >
		<dynamics:on-deleted-object-listener entityType="contact" doc:name="On deleted object listener" doc:id="b92cbbba-aedb-4bb0-b6ad-51f7c5c7f922" config-ref="Dynamics_365_Dynamics_365" >
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS" />
			</scheduling-strategy>
		</dynamics:on-deleted-object-listener>
		<logger level="INFO" doc:name="Log Contact on deleted object started" doc:id="5546812b-ee1a-4dfb-8f3b-a1cfae753a89" message='#["Log Contact on deleted object started"]' />
		<ee:transform doc:name="Map to CDM" doc:id="5fcb5822-a122-4632-8f17-be499f792d18" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "contactDynId": payload.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="DELETE" doc:name="Send to MD API" doc:id="a961e26b-f368-4e3e-995f-4b5777519ecd" config-ref="HTTP_Request_configuration" path="/dyncontactdelete" target="dynAccount" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : p('secure::clientIdenforcement.clientSecret'),
	"client_id" : p('secure::clientIdenforcement.clientId')
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Log Contact on deleted object ended" doc:id="150609f3-3408-4294-baa4-3e992abd1ae0" message='#["Log Contact on deleted object ended"]' />
	</flow>
</mule>
