src/main/mule/dynamics-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="dynamics-sapi-main">
        <http:listener config-ref="dynamics-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="dynamics-sapi-config" />
		<error-handler ref="globalErrorHandler" />
    </flow>
    <flow name="dynamics-sapi-console">
        <http:listener config-ref="dynamics-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="dynamics-sapi-config" />
		<error-handler ref="globalErrorHandler" />
    </flow>
	<flow name="put:\account\(ID):application\json:dynamics-sapi-config" doc:id="f5756367-4841-4ee9-a2a3-95a141887677" >
		<flow-ref doc:name="put-account-flow" doc:id="99188a9d-946c-4689-ba97-05b23db3012e" name="put-account-flow" />
	</flow>
	<flow name="put:\contact\(ID):application\json:dynamics-sapi-config" doc:id="da5f369e-85e4-4117-9399-32a572d7835c" >
		<flow-ref doc:name="put-contact-flow" doc:id="2674f96b-44cf-4ef2-8c5a-361f4bb0084e" name="put-contact-flow" />
	</flow>
	<flow name="delete:\contact\(ID):dynamics-sapi-config" doc:id="a8fff0f1-be3d-446c-a04b-b29c1fc7c326" >
		<flow-ref doc:name="delete-contact-flow" doc:id="81275d68-9b9f-4fa4-8e56-ac0cfd073de1" name="delete-contact-flow" />
	</flow>
	<flow name="delete:\account\(ID):dynamics-sapi-config" doc:id="cfbefb88-7854-4afd-b36d-753e382ce135" >
		<flow-ref doc:name="delete-account-flow" doc:id="14ecbd28-23ab-4ccf-ae19-4efc2edfd031" name="delete-account-flow" />
	</flow>
	<flow name="get:\account:dynamics-sapi-config" doc:id="7e69bba8-3d54-4846-92da-1fbd9b5c9cde" >
		<flow-ref doc:name="get-accounts-flow" doc:id="5f59df68-8a52-43b3-aca3-a33356645db3" name="get-accounts-flow" />
	</flow>
	<flow name="get:\contact:dynamics-sapi-config" doc:id="a4efa9df-dc9f-4cf5-b6e5-fc38c3737487" >
		<flow-ref doc:name="get-contacts-flow" doc:id="7ead383c-b5b1-4200-a183-c5c8187f290a" name="get-contacts-flow" />
	</flow>
	<flow name="get:\opportunity:dynamics-sapi-config" doc:id="90456dd1-5fd1-48bb-bb41-b1875df3800c" >
		<flow-ref doc:name="get-opportunities-flow" doc:id="b68dbfd7-33bf-4f34-b3e6-960453c28888" name="get-opportunities-flow" />
	</flow>
	<flow name="get:\opportunity\(ID):dynamics-sapi-config" doc:id="448b9c96-1c6e-41ad-88a0-777ac78b0e2f" >
		<flow-ref doc:name="get-opportunity-by-id-flow" doc:id="db9de42f-c485-4191-b10c-b313d470a6c9" name="get-opportunity-by-id-flow" />
	</flow>
	<flow name="get:\account\(ID):dynamics-sapi-config" doc:id="96599c98-4e14-4bdc-89aa-85f08f0f2b81" >
		<flow-ref doc:name="get-account-by-id-flow" doc:id="510d53ba-4d41-4d63-b857-586c667315a6" name="get-account-by-id-flow" />
	</flow>
	<flow name="get:\contact\(ID):dynamics-sapi-config" doc:id="05387872-67ac-4474-a43a-ba9d2be0ba3d" >
		<flow-ref doc:name="get-contact-by-id-flow" doc:id="b4cbcd2b-3d9b-499b-9513-aacc4e50b695" name="get-contact-by-id-flow" />
	</flow>
	<flow name="post:\account:application\json:dynamics-sapi-config" doc:id="e55ab47e-7066-4444-82f4-890e466f1182" >
		<flow-ref doc:name="post-account-flow" doc:id="bf642b1b-3b10-4c6c-9f2b-3730b6560540" name="post-account-flow" />
	</flow>
	<flow name="post:\contact:application\json:dynamics-sapi-config" doc:id="70852732-b810-458c-ae90-59441f0605be" >
		<flow-ref doc:name="post-contact-flow" doc:id="c63e96f9-43bb-4584-bc9e-ffec366f7c05" name="post-contact-flow" />
	</flow>
	<flow name="post:\opportunity:application\json:dynamics-sapi-config" doc:id="d0260ff4-1bfa-4b1d-9189-ff55f2aafe1d" >
		<flow-ref doc:name="post-opportunity-flow" doc:id="eaaf1385-2e83-49a8-a98c-f9d725cbddd6" name="post-opportunity-flow" />
	</flow>
	<flow name="post:\dynquerycall:application\json:dynamics-sapi-config" doc:id="856facb1-0af8-4ca1-b92f-6bdc574003af" >
		<flow-ref doc:name="query-call-retrieve-data-flow" doc:id="8f7c9deb-add7-4724-a124-22fdfdd2d87c" name="query-call-retrieve-data-flow" />
	</flow>
</mule>
